{% extends "base.html" %}

{% block title %}
    r/BMW/ Insert
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Insert New Record</h1>
            <form id="bmw-form">
                <div class="form-group">
                    <label for="score">Score</label>
                    <input type="text" class="form-control" id="score">
                </div>
                <div class="form-group">
                    <label for="domain">Domain</label>
                    <input type="text" class="form-control" id="domain">
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author">
                </div>
                <div class="form-group">
                    <label for="upvote">Upvote</label>
                    <input type="text" class="form-control" id="upvote">
                </div>
                <div class="form-group">
                    <label for="downvote">Downvote</label>
                    <input type="text" class="form-control" id="downvote">
                </div>
                <div class="form-group">
                    <label for="comments">Comments</label>
                    <input type="text" class="form-control" id="comments">
                </div>
              <button id="add-bmw" type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block jsFiles %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
        $("#add-bmw").click(function (e) {
            e.preventDefault();
            var formData = {
                "date": Math.round(+new Date() / 1000),
                "score": parseInt($("#score").val()),
                "domain": $("#domain").val(),
                "title": $("#title").val(),
                "author": $("#author").val(),
                "upVote": parseInt($("#upvote").val()),
                "downVote": parseInt($("#downvote").val()),
                "comments": parseInt($("#comments").val())
            };

            var request = $.ajax({
                url: "/bmw/api/",
                method: "POST",
                contentType:"application/json",
                data: JSON.stringify(formData),
                dataType: "html"
            });

            request.done(function (redditData) {
                console.log(redditData);
            });

            request.fail(function (jqXHR, textStatus) {
                console.log(textStatus);
                console.log(jqXHR);
                console.log("Delete Error: No ID");
            });
        });
        function onlyInts(identifier) {
            $(identifier).keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                    (e.keyCode == 65 && ( e.ctrlKey === true || e.metaKey === true ) ) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
        }
        onlyInts("#score");
        onlyInts("#upvote");
        onlyInts("#downvote");
        onlyInts("#comments");
    </script>
{% endblock %}